{% load static from staticfiles %}
<!-- загружаем тег для указания урла  для статичных ресурсов -->

<!-- домашнее задание - сделать подсветки табов не используя фиксир url --> 

<!DOCTYPE html>
<html>
    
<head>
<title>Система учета студентов {% block meta_title %}{% endblock meta_title %}</title>
<meta name="description" value="Система учета студентов ВУЗа"/>
<meta charset="utf-8"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href= {{PORTAL_URL}}{% static "css/main.css" %}>
{% block extra_css %}{% endblock extra_css %}

 
</head>

<body>
<div class="container">
  <div class="row" id="header"> 
 <!-- в этом классе задаем строчку страницы, в которой будет заголовок-ссылка (лого текстовое), форма выбора студентов, строка поделена на колонки согласно грида - 8 колонок заголовок, 4 - форма выбора. Форма выбора сделана как горизонтальная, вопрос - такой вид формы требует указания размеров для лейбл и размера селекта, поигралась пришла к выводу, что размерчики этой формы надо рассматривать как полный грид, т.е. из размерности 12-->
    <!--лого-->
    <div class="col-md-8">
      {% block logo %} <h2> <a href="#">Сервис учета студентов</a></h2> {% endblock logo%}

      <p>URL of this page: {{ request.get_full_path }}</p>
      <p>URL of this host: {{ request.get_host }}</p>
      <p>PORTAL URL: {{ PORTAL_URL }}</p>
    
      <p> Absolute URL of this page: {{ request.build_absolute_uri}}</p>
      

    </div>
    <!-- селектор групп-->
    <div class="col-md-4" id="group-selector">
      
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label col-sm-2 text-primary" for="sel1">Группа</label>
          <div class="col-md-10">
            <select class="form-control" id="sel1">
              <option value="">Все студенты</option> 
              <option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
              <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
 <!-- закончили с первой строкой страницы лого и селектор групп-->
 <!--меню навигации с кнопками табов-->
 
  <div class="row" id="sub-header">
   <div class="col-md-12"> 
     <nav>
       <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" {% if request.path == '/' %} class="active" {% endif %}> <a href={% url 'home' %}> Студенты </a></li> 
       <!--если пользователь нажмет в меню Студенты, то адрес запроса будет / , это корень нашего сайта, в 
       urls этому соответствует адрес r'^$', вьюшка в views students_list
       адрес запроса - куда перейдем, если нажмем сюда-->
       
       <li role="presentation" {% if 'journal' in request.path %} class="active" {% endif %}> <a href={% url "journal" %}> Посещения</a></li>
       <li role="presentation" {% if 'groups' in request.path %} class="active" {% endif %}> <a href={% url "groups" %}> Группы </a></li>
      </ul>
      </nav>
   </div>
  </div>


 <div class="row" id="content-columns">
 <div class="col-md-12" id="content-column">

{% comment %} 
<!--пока комментим, потом переделаем для выводв статуса разных операций -->
<div class="alert alert-warning" id="info-alert"> Студент успешно добавлен</div>
{% endcomment %}

<!-- заголовок перед выводом данных-->
    
<div class="title-content"> <h3> {% block title %} {% endblock title %}</h3></div>

{% block content %} {% endblock content %}  
    

</div>
</div>

<div class="row" id="foot">
<div class="col-md-12">
<footer class="well well-sm">
<p>&copy;Система учета студентов 2015 <span class="badge pull-right">{% block footer %} {% endblock footer %}</span></p>
</footer>
</div>
</div><!--footer-->

</div><!--container-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>