
{% extends "students/base.html" %} 
<!-- наследуем от базового шаблона -->
{% load static from staticfiles %}
<!-- загружаем тег для указания урла  для статичных ресурсов -->
{% block meta_title %} Группы {% endblock meta_title %}
{% block logo %} <h2> <a href="#">Сервис учета студентов - Группы</a></h2> {% endblock logo%}
<!--играемся - меняем лого из дочерних файлов-->
{% block title %} Группа {% endblock title %}


{% block content %}


    <div class="add-student"><a class="btn btn-primary btn-md" href={% url 'groups_add' %} >Добавить группу</a></div>
    
{% if groups %}
    <table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse page=request.GET.page %}

    <thead>
    <tr>
    <th><a href="">№п/п</a></th>
    <th><a href="{%url "groups"%}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{%endif %}&amp;page={{page}}">
    Название{% if order_by == 'title' and reverse != '1' %}&uarr; 
              {% elif order_by == 'title' and reverse == '1' %}&darr;
              {% endif %}
        </a></th>
    <th><a href="#">Староста</a></th>

    <!--
    <th><a href="">№п/п</a></th>
    <th><a href="">Название&uarr;</a></th>
    <th><a href="#">Староста</a></th>
    -->
    <th>Действия</th>
    </tr>
    </thead>

    {% endwith %}

    {% for group in groups %}
    <tbody>
      <tr>
      <td>{{ forloop.counter }}</td>
      <td><a title="Редактировать" href={% url 'groups_edit' group.id %}> {{ group.title }}</a></td>
      <td><a title="Редактировать" href={% url 'students_edit' group.leader.id  %}> {{group.leader }}</a></td>
      <td>
         <div class="dropdown">
           <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Действие
           <span class="caret"></span></button>
             <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href={% url 'groups_edit' group.id %}>Редактирование</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href={% url 'groups_delete' group.id %}>Удаление</a></li>
             </ul>
          </div>
      </td>
      </tr>

   {% endfor %}
    
   
   
   </tbody>
 </table>
 {% else %}
 <p> нет групп</p>
 {% endif %}

 {% include 'students/pages_groups.html' %}
<!-- включаем файл с пагинатором pages.html-->
 
{% endblock content %}

{% block footer %} Группы {% endblock footer %}
<!--играемся - добавляем в футер название страницы-->