
#group-selector{margin-top: 20px;}
.title-content{float:left;}
.add-student{margin-top: 20px; margin-bottom: 15px; float:right;}
#info-alert{margin-top: 10px;}
.visit-table{font-size:12px; margin-top:20px;}
input[type=checkbox]{vertical-align: bottom;}
.input-center{margin:auto; width:50%;}
/*#photois,#photo{width:75%;}*/
.mywidth{width:24%;}
.month{font-size:18px;}